{% extends 'base.html' %}
{% load static artifact_tags django_bootstrap5 %}
{% block title %}
    FABRIC Artifact Manager
{% endblock %}

{% block content %}
    {% if message %}
        <div class="text-danger" style="font-size: large">{{ message }}</div>
    {% endif %}
    <div class="container w-85">
        <form method="get">
            {% csrf_token %}
            <h2>
                Artifacts <em style="font-size: x-small; color: darkslategray">(Ordered by: Last Updated)</em>
            </h2>
            <div class="d-flex flex-row justify-content-between">
                {% if search %}
                    <input id="search" type="text" name="search" class="form-control w-75" value="{{ search }}">
                {% else %}
                    <input id="search" type="text" name="search" class="form-control w-75"
                           placeholder="Search artifacts by title, tag, or project name...">
                {% endif %}
                <div>
                    <button class="btn btn-primary ml-1" id="search_submit" type="submit">
                        Search
                    </button>
                    {% if api_user.is_authenticated %}
                        <button class="btn btn-success ml-1" id="create_artifact" type="button">
                            <a href="{% url 'artifact_create' %}" class="unlink">Create Artifact</a>
                        </button>
                    {% endif %}
                </div>
            </div>
        </form>
        {% if artifacts.results|length == 0 %}
            <div class="alert alert-warning" role="alert">No artifacts found for the given criteria.</div>
        {% endif %}
        <table class="table table-striped table-bordered my-4">
            <tbody>
            {% for artifact in artifacts.results %}
                <tr>
                    <td>
                        <div>
                            <a href="{% url 'artifact_detail' uuid=artifact.uuid %}">
                                {{ artifact.title }}
                            </a>
                        </div>
                        <div>
                            <span style="color: darkslategray">{{ artifact.description_short }}</span>
                        </div>
                        <div style="font-size: small" class="inline">
                            <div class="float-start">
                                <span title="Views - total across all versions">
                                    <em class="fa-solid fa-eye"></em> {{ artifact.artifact_views }}
                                </span>&nbsp;&nbsp;
                                <span title="Downloads - total across all versions: active (retired)">
                                    <em class="fa-solid fa-download"></em> {{ artifact.artifact_downloads_active }}
                                    ({{ artifact.artifact_downloads_retired }})
                                </span>&nbsp;&nbsp;
                                <span title="Versions - number of published versions">
                                    <em class="fa-regular fa-clone"></em> {{ artifact.number_of_versions }}
                                </span>&nbsp;&nbsp;
                                <span style="color: darkslategray" title="Last Updated">
                                    {{ artifact.modified|normalize_date_to_utc }}
                                </span>
                            </div>
                            {% if artifact.tags %}
                                <div class="float-end">
                                    {% for tag in artifact.tags %}
                                        <button class="btn btn-primary mr-2"
                                                style="padding: 2px; font-size: small">
                                            <a href="{% url 'artifact_list' %}?search={{ tag }}"
                                               class="badge badge-primary">
                                                {{ tag }}
                                            </a>
                                        </button>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="d-flex flex-row align-items-center justify-content-between">
            {% if prev_page %}
                <button type="button" class="btn btn-secondary mr-2">
                    {% if search %}
                        <a href="{{ artifacts.previous }}&search={{ search }}" class="unlink">
                            <em class="fa-solid fa-angles-left"></em> Page {{ prev_page }}
                        </a>
                    {% else %}
                        <a href="{{ artifacts.previous }}" class="unlink">
                            <em class="fa-solid fa-angles-left"></em> Page {{ prev_page }}
                        </a>
                    {% endif %}
                </button>
            {% else %}
                <button class="btn btn-secondary mr-2 disabled">
                    <a href="{{ artifacts.previous }}" class="unlink">
                        <em class="fa-solid fa-angles-left"></em>
                    </a>
                </button>
            {% endif %}
            Results: {{ item_range }} of {{ count }}
            {% if next_page %}
                <form type="get" action="." style="margin: 0">
                    <button type="button" class="btn btn-secondary mr-2">
                        {% if search %}
                            <a href="{{ artifacts.next }}&search={{ search }}"
                               class="unlink">
                                Page {{ next_page }} <em class="fa-solid fa-angles-right"></em>
                            </a>
                        {% else %}
                            <a href="{{ artifacts.next }}" class="unlink">
                                Page {{ next_page }} <em class="fa-solid fa-angles-right"></em>
                            </a>
                        {% endif %}
                    </button>
                </form>
            {% else %}
                <button class="btn btn-secondary mr-2 disabled">
                    <a href="{{ artifacts.next }}" class="unlink">
                        <em class="fa-solid fa-angles-right"></em>
                    </a>
                </button>
            {% endif %}
        </div>
    </div>
    {% if debug %}
        <hr>
        <pre><strong>artifacts</strong>:<br>{{ artifacts|pprint }}</pre>
        <pre><strong>api_user</strong>:<br>{{ api_user|pprint }}</pre>
        <br>
    {% endif %}
{% endblock %}
