{% extends 'base.html' %}
{% load static django_bootstrap5 %}

{% block head %}
    <style>
        label.required::after {
            content: ' * required';
            color: red;
            font-size: small;
        }
    </style>
{% endblock %}

{% block title %}
    Artifact Manager
{% endblock %}

{% block content %}
    {% if message %}
        <div class="text-danger" style="font-size: large">{{ message }}</div>
    {% endif %}
    {% if api_user.is_authenticated %}
        {% if api_user.can_create_artifact %}
            <div class="container w-85">
                <h3>Create Artifact</h3>
                <form id="form" method="POST">
                    {% csrf_token %}
                    <p>
                        {{ form.title.label_tag }} {{ form.title }}
                    </p>
                    <p>
                        {{ form.description_short.label_tag }} {{ form.description_short }}
                    </p>
                    <p>
                        {{ form.description_long.label_tag }} {{ form.description_long }}
                    </p>
                    <p>
                        {{ form.visibility.label_tag }} {{ form.visibility }}
                    </p>
                    <p>
                        {{ form.project_uuid.label_tag }} {{ form.project_uuid }}
                    </p>
                    <p>
                        {{ form.tags.label_tag }} {{ form.tags }}
                    </p>
                    <p>
                        Authors (by UUID):
                    </p>
                    <div>
                        {{ form.author_1 }}
                        {{ form.author_2 }}
                        {{ form.author_3 }}
                        {{ form.author_4 }}
                        {{ form.author_5 }}
                        {{ form.author_6 }}
                        {{ form.author_7 }}
                        {{ form.author_8 }}
                        {{ form.author_9 }}
                        {{ form.author_10 }}
                        {{ form.author_11 }}
                        {{ form.author_12 }}
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-5">
                            <h4>Search for FABRIC authors</h4>
                        </div>
                        <div class="col-lg-5">
                            {% if search %}
                                <input id="search" type="text" name="search" value="{{ search }}">
                            {% else %}
                                <input id="search" type="text" name="search" placeholder="search...">
                            {% endif %}
                        </div>
                        <div class="col-lg-2">
                            <button class="btn btn-primary mr-2" id="search_submit"
                                    type="submit" style="float: right">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
                <br>
                <div>
                    {% if fabric_users %}
                        <br>
                        <ul>
                            {% for user in fabric_users %}
                                <li>{{ user.name }} | {{ user.email }} | <b>{{ user.uuid }}</b></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <br>
                <button class="btn btn-success mr-2" type="submit" form="form" name="save">Save</button>
                <button class="btn btn-secondary mr-2" value="cancel">
                    <a href="{% url 'artifact_list' %}" class="unlink">Back</a>
                </button>
            </div>
        {% else %}
            You are not able to create an Artifact
        {% endif %}
    {% else %}
        <p>You are not logged in</p>
        <a href="/login">
            <button class="message-btn btn btn-success">Login</button>
        </a>
    {% endif %}
    <!-- {% if debug %}
        <hr>
        <pre><strong>form</strong>:<br>{{ form.data|pprint }}</pre>
        <pre><strong>fabric_users</strong>:<br>{{ fabric_users|pprint }}</pre>
        <pre><strong>api_user</strong>:<br>{{ api_user|pprint }}</pre>
        <br>
    {% endif %} -->
{% endblock %}