{% load static %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<div class="footer bg-light">
    <a
            href="https://portal.fabric-testbed.net"
            target="_blank"
            class="link"
    >© FABRIC 2023</a>
    <a
            href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1935966&HistoricalAwards=false"
            target="_blank"
            class="link"
    >FABRIC is supported in part by a Mid-Scale RI-1 NSF award under Grant No. 1935966.</a>
</div>